.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr auto 40px; /* Adjust the grid to allocate space for the delete button */
  gap: 0.9rem;
  padding: 0.5rem; /* Add some padding */
  border-bottom: 1px solid #e0e0e0; /* If you want a separator */
}

.cart-item-top {
  display: contents; /* Allows children to lay out on the grid defined by the parent */
}

.cart-item-name {
  font-size: 1em;
  justify-self: start;
}

.quantity-selector {
  justify-self: end; /* Align the quantity selector to the right */
}

.cart-item-total {
  justify-self: start; /* Align the total amount to the left, close to the quantity selector */
  margin-right: auto; /* Pushes the total amount to the left and the delete button to the right */
}

.gift-wrap-container {
  grid-column: 1 / -1;
  display: block; /* Adjust as necessary for your layout */
  margin-top: 0.5rem;
}

.cart-item-remove-icon,
.cart-item-button {
  justify-self: end; /* Aligns the button to the end */
  grid-column: -1; /* Ensures the button is in the last column */
}

.cart-item-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, stroke 0.3s;
}

/* Adjust styles for the gift wrap checkbox container */
.gift-wrap-container {
  grid-column: 1 / -1; /* spans all columns */
  display: block; /* or flex if needed */
  padding-top: 0.5rem; /* add space between the checkbox and the item line */
}

.gift-wrap-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-item-remove-icon {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
  transition: stroke 0.3s; /* Transition for the stroke color change */
}

.cart-item-button:hover .cart-item-remove-icon {
  stroke: red; /* Change to red on hover */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .cart-item {
    grid-template-columns: 1fr 1fr; /* Change to two columns */
  }
  .cart-item-total, .cart-item-button {
    grid-column: span 2; /* Make total amount and delete button span both columns */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .cart-item {
    grid-template-columns: 1fr 1fr; /* Change to two columns */
  }
  .cart-item-button {
    grid-column: 4; /* Ensure the delete button occupies only one column */
  }
}