.total-amount-container {
    display: flex;
    align-items: baseline; 
    font-size: 2rem; 
  }
  
  .currency-code {
    font-size: 1rem; 
    color: #999; 
    margin-right: 0.5rem; 
  }
  
  .amount {
    color: #000; 
  }

  .total {
    font-weight: normal; 
    font-size: 1.5rem; 
    color: #333;
    padding-right: 1em;
  }