
.total {
  font-weight: 600; /* Making the total label bolder */
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px; /* Space between total label and amounts */
}

.currency-code {
  font-size: 0.9rem; /* Slightly smaller to differentiate from the amount */
  color: #666; /* Subtle color change */
  margin-right: 0.5rem;
}

.savings {
  font-size: 1.2rem;
  color: #28a745; /* A green color to highlight savings */
  margin-top: 5px; /* Space above the savings display */
}

.amount {
  font-weight: 200; /* Making the amount bolder */
  color: #000;
  font-size: 1.8rem; /* Larger font size for emphasis */
}

.strikethrough {
  text-decoration: line-through;
  color: #999;
}

/* Additional styling for improved spacing and layout */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
