.total {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600; 
  font-size: 24px; 
  color: #333;
  margin-bottom: 10px; 
}

.totalSavings {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600; 
  font-size: 24px; 
  color: #333;
  margin-bottom: 10px; 
}

.currency-code {
  font-size: 0.9rem; 
  color: #666; 
  margin-right: 0.5rem;
}

.amount {
  font-weight: 200;
  font-size: 1.8rem; 
  color: #000;
}

.strikethrough {
  text-decoration: line-through;
  color: #999;
}

.savings {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.2rem;
  color: #28a745; 
  margin-top: 5px; 
  font-weight: 200; 
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
