.quantity-selector input[type="text"] {
  width: 3em;
  border: none; 
  background-color: transparent; 
  text-align: center;
  outline: none;
  font-size: 1em;
  cursor: pointer;
}

.quantity-selector input[type="text"]:focus {
  border-bottom: 1px solid #000;
}
