.basket-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: 1px solid #e0e0e0;
  justify-items: start;
}

.basket-list {
  width: 100%;
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.basket-list-name {
  justify-self: start;
}

.basket-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}
