/* Checkout.css */

.submit-order-btn {
  background-color: #4CAF50; /* Theme green color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
  box-shadow: 0 4px #388E3C; /* Initial shadow for depth, matching the green theme */
  filter: brightness(100%);
  transform: translateY(0px);
}

.submit-order-btn:hover {
  background-color: #43A047; /* Slightly darker green on hover for feedback */
  filter: brightness(110%);
  transform: translateY(-1px);
  box-shadow: 0 6px #388E3C; /* Increased shadow to elevate the button visually */
}

.submit-order-btn:active {
  background-color: #388E3C; /* Even darker green to mimic button press */
  filter: brightness(90%);
  transform: translateY(2px); /* Pushing the button down to simulate click */
  box-shadow: 0 2px #388E3C; /* Reduced shadow to mimic the button being pressed down */
}

.submit-order-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f0f8f0; /* Focus shadow around the button for visual feedback */
}

input:required {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

input:required:focus {
  border-color: #4A90E2;
  background-color: white;
}

input:focus {
  border-color: #4A90E2;
  background-color: white;
}

.form-attempted-submit input:invalid {
  border-color: red;
  background-color: #ffe8e8;
}

.checkout-container {
  max-width: 800px;
  width: 100vw;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f8f0;
  box-sizing: border-box; 
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  font-family: 'Roboto Slab', sans-serif;
  box-shadow: 0 4px #388E3C;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
}

.back-button:hover {
  background-color: #43A047;
  filter: brightness(110%);
  transform: translateY(-1px);
  box-shadow: 0 6px #388E3C;
}

.back-button:active {
  filter: brightness(90%);
  transform: translateY(1px);
  box-shadow: 0 2px #388E3C;
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f0f8f0;
}


.bold-arrow {
  font-weight: bold;
  font-size: 30px;
}

.input-checkbox {
  vertical-align: middle;
  margin-right: 8px;
}

.checkbox-label {
  color: #335e35;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-right: 8px;
  vertical-align: middle;
}

.input-checkbox:checked + .checkbox-label::before {
  content: '✔';
  color: white;
  background-color: #4CAF50;
  border-color: #4CAF50;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  width: calc(100% - 24px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px #f0f8f0;
}
