/* Checkout.css */

.submit-order-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.submit-order-btn:hover {
  background-color: #333;
}

input:required {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

input:required:focus {
  border-color: #4A90E2;
  background-color: white;
}

.submit-order-btn:hover {
  background-color: #555;
  color: white;
}

input:focus {
  border-color: #4A90E2;
  background-color: white;
}

.form-attempted-submit input:invalid {
  border-color: red;
  background-color: #ffe8e8;
}

.checkout-container {
  max-width: 800px;
  width: 800px; /* NOTE: Adjust this */
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f8f0;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  font-family: 'Roboto Slab', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #43A047;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back-button:focus {
  outline: none;
  border-color: #335e35;
  box-shadow: 0 0 0 2px #f0f8f0;
}

.bold-arrow {
  font-weight: bold;
  font-size: 30px;
}

.input-checkbox {
  vertical-align: middle;
  margin-right: 8px;
}

.checkbox-label {
  color: #335e35;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-right: 8px;
  vertical-align: middle;
}

.input-checkbox:checked + .checkbox-label::before {
  content: '✔';
  color: white;
  background-color: #4CAF50;
  border-color: #4CAF50;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  width: calc(100% - 24px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px #f0f8f0;
}
