.email-error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }

  .input-label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    color: #333;
    font-size: 16px;
    text-align: left;
  }
  
  
  .input-label .required-asterisk {
    color: red;
  }
  
  .input-field {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #333;
  }
  
  .input-field:focus {
    outline: none;
    border-bottom: 2px solid #555;
  }
  
  .input-field::placeholder {
    color: #aaa;
    font-size: 13px;
  }
  
  .required-input {
    border-bottom: 2px solid red;
  }

  .user-information-h2 {
    text-align: left;
    margin-left: 15px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; 
    font-weight: 200; 
  }
  
 
.terms-and-conditions {
  margin-top: 10px; 
}

.terms-and-conditions label {
  font-size: 14px;
  color: #333;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.marketing-checkbox {
  margin-top: 10px; 
}

.marketing-checkbox label {
  font-size: 14px;
  color: #333;
}

.country-code-select {
  width: auto; 
  min-width: 100px; /* You can adjust this value based on your layout */
  margin-right: 8px; /* Keeps space between the select box and the phone number input */
}