/* General Style Enhancements for Both Sections */
.address-section {
  margin-bottom: 20px;
  font-family: 'Roboto Slab', 'Lato', sans-serif;
  color: #333;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.address-section h2 {
  text-align: left; 
  margin-bottom: 10px;
  color: #335e35; 
  font-size: 1.25rem;
  font-weight: 700; 
}

/* Input Styles */
.address-section input, .input-field, .required-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-family: 'Lato', sans-serif; /* Consistent font for readability */
}

.address-section input:focus, .input-field:focus, .required-input:focus {
  outline: none;
  border-color: #4CAF50 !important;
}

.address-section input.invalid, .required-input {
  border-color: #ff0000; /* Red for error indication */
}

/* Validation Messages */
.validation-message, .billing-validation-message {
  color: #ff0000; /* Consistent error message styling */
  font-size: 14px;
  margin-top: 5px;
}

/* Label Styling */
.input-label {
  display: block;
  margin-bottom: 5px;
  color: #335e35; /* Theme color for consistency */
  font-size: 16px; /* Slightly larger for clarity */
}

.input-label.required-field {
  font-weight: 700; /* Bold for labels with required fields */
}

.input-label .required-asterisk {
  color: red;
}

/* Placeholder Styles */
.input-field::placeholder {
  color: #aaa;
  font-size: 13px;
}

/* Select Dropdown Styles */
.input-field, select.input-field {
  border: 1px solid #eaeaea; /* Light border for inputs and selects */
  border-radius: 4px; /* Consistent rounding */
  font-size: 16px; /* Readable font size */
}

select.input-field {
  -webkit-appearance: none; /* Remove default arrow */
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23335e35" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}
