.delivery-address {
  margin-bottom: 20px;
}

.delivery-address h2 {
  margin-bottom: 10px;
}

.delivery-address input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.delivery-address input:focus {
  outline: none;
  border-color: #007bff; /* Blue border color when input is focused */
}

.delivery-address input.invalid {
  border-color: #ff0000; /* Red border color for invalid input */
}

.delivery-address .validation-message {
  color: #ff0000; /* Red color for validation message */
  font-size: 14px;
  margin-top: 5px;
}

/*  billing address */
.billing-address {
  margin-bottom: 20px;
}

.billing-address h2 {
  margin-bottom: 10px;
}

.billing-address input {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease; 
}

.billing-address input:focus {
  outline: none;
  border-color: #007bff; /* Blue border color when input is focused */
}

.billing-address input.invalid {
  border-color: #ff0000; /* Red border color for invalid input */
}

.billing-address .validation-message {
  color: #ff0000; /* Red color for validation message */
  font-size: 14px;
  margin-top: 5px;
}
