.cart-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: start;
  align-items: center;
}

.cart-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-list-name,
.cart-item-name {
  justify-self: start;
}
/*  */

/* Responsive adjustments */
@media (max-width: 768px) {
  .cart-header,
  .cart-item {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Assume moving Quantity and Total Price closer */
  }
  .cart-item img {
    height: 50%; /* Maintain aspect ratio */
    width: 50px; /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .cart-header,
  .cart-item {
    /* Assuming Quantity and Total Price need to be specifically aligned */
    grid-template-columns: 1fr 1fr 1fr; /* Adjust based on your design */
  }
}

@media (max-width: 320px) {
  .cart-header,
  .cart-item {
    /* Stack most items vertically, but keep Quantity and Total Price aligned if needed */
    grid-template-columns: 1fr; /* This stacks all items vertically */
  }
}
