/* App.css */

.App {
  text-align: center;
  max-width: max-content;
  margin: auto;
}

.checkout-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 768px) {
  .checkout-layout {
    flex-direction: column;
  }
}

.checkout-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-container {
  background: #ffffff;
  padding: 20px;
  margin-right: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  max-width: 70%;
}

.order-summary {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  max-width: 30%;
}

@media (max-width: 900px) {
  .checkout-layout {
    flex-direction: column;
  }

  .cart-container,
  .order-summary {
    width: 100%;
    max-width: 100%;
    margin-right: 0; /* No margin on the right for mobile */
    margin-bottom: 20px; /* Adds space between the cards when they stack */
  }
}

.App header h1,
.App header p { 
  text-align: left;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.App header h1 {
  font-size: 32px; 
}

.App header p {
  font-size: 16px; 
  color: #333; 
}